.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.hero-parent{
  margin-top: 190px;
  width: 100%;
}
.par-hero{
  line-height: 37px!important;
  margin-top: 35px!important;
  font-size: 20px!important;
}
.hero-parent-left{
text-align:left;
 width:50%;
}
.hero-parent-right{
    width: 50%;
    display: flex;
    justify-content: end;
  }
  .hero-parent-right .card{
    width:380px ;
     border-radius:20px;
     padding-top: 0!important;
  }
  .weightFont{
    font-weight: bold!important;
    font-size: 11px!important;
  }
  .hero-parent-right .card .card-media{
    height: 209px;
  }
  .title-hero{
    font-size:30px!important ;
    font-weight: bold!important;
    width: 70%;
    margin-bottom: 20px;
  }
  @media (max-width:768px) {
    .hero-parent{
  margin-top: 120px;

}
.title-hero{
    font-size:20px!important ;
  }
  .par-hero{
  
  font-size: 17px!important;
}
}
  .hero-parent{
    flex-wrap: wrap;
  }
@media (max-width:768px) {
  .hero-parent-left {
 width:100%;
  }

  .hero-parent-right{
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }
}

.card-opport{
  border-radius: 20px;
  text-align: left;
  align-items: center;
  /* padding: 20px 0px; */
}
@media (max-width:768px) {
 .card-opport {
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 10px;
  }
}
.part-card{
  width: 25%!important;
}
@media (max-width:768px) {
.part-card{
  width: 70%!important;
  margin: 0 auto;
  /* background-color: red; */
}


.part-card-two{
  justify-content: space-between!important;
  /* background-color: green; */
  width: 100%!important;
}
.butt{
  width: 180px!important;
}
.butt:first-letter {
  text-transform: uppercase!important;
}

}
.butt:hover{
  background-color: #22215B!important;
}
.navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1370px;
  padding: 70px 0px;
}
@media (max-width:768px) {
 
}

.button-details{
  margin-top: 50px!important;
  width: 328px!important;
  height: 51px!important;
}
.isDisplay{
  display: none!important;
}
.slider-parent{
  margin-top: 55px;
}
  .slider-title{
    font-size: 30px!important;
    font-weight: bold!important;
    margin-left: 40px!important;
  }
  .slider-link{
    color:#8528C8 ;
    font-size:20px!important;
    text-decoration: none!important;
    font-weight:bold!important ;
  }
  @media (max-width:768px) {
  .slider-title{
        font-size: 17px!important;
        margin-left: 20px!important;

  }
  }
   @media (max-width:768px) {
  .slider-link{
        font-size: 17px!important;
  }
  }
.swiper-button-disable{
  /* color: red!important; */
}
.swiper-button-next,
.swiper-button-prev{
  background-color: rgb(255, 255, 255);
  width: 43px!important;
  height: 43px!important;
    box-shadow:  0 0 7px 2px #00000063;
  border-radius: 50%;
}
.swiper-button-prev.swiper-button-disabled{
      box-shadow: none;

}
.swiper-button-next.swiper-button-disabled{
      box-shadow: none;

}
.swiper-button-prev.swiper-button-disabled::after{
color: transparent;
}
.swiper-button-next.swiper-button-disabled::after{
color: transparent;
}


.swiper-button-next::after{
font-size: 15px!important;
font-weight: bolder!important;

  color: rgb(0, 0, 0);
}
.swiper-button-prev::after{
font-size: 15px!important;
font-weight: bolder!important;

  color: rgb(0, 0, 0);
}
:root {   --swiper-navigation-size: 24px!important; 
}
.line-style{
  width:939px;
  height:.5px ;

  /* padding: 40px 0px!important; */
}
.line-style:not(:last-child) {
  border-top:solid 1px #C4C4C4;
  margin:40px auto!important;

}
.link-hyper{
  text-transform: lowercase!important;
}
 @media (max-width:1080px) {
  .line-style{
  width:auto;
  margin-left: 20px!important;

  }
  .button-style{
/* width: 300px!important; */
  }
  }

.button-style {
  border-radius: 100px!important;
  border-color: #C4C4C4!important;
  color: #000!important;
  width: 155px!important;
  min-width: 12px!important;
  font-size: 13px!important;
  display: flex!important;
  align-items:center;
  justify-content: space-around!important;
  height: 35px!important;
}

@media (max-width:768px) {
.details-content{
width: 90%!important;
}
}

.title-details{
  font-size: 30px!important;
  margin-top: 20px!important;
  font-weight: bold!important;
  margin-top: 100px!important;

}
@media (max-width:768px) {
.title-details{
  font-size: 20px!important;
}
.par-details{
  font-size: 17px!important;
}
.par-details li{
    font-size: 17px!important;

}
}
